// Брейкпоинты (значения указываем ВКЛЮЧИТЕЛЬНО)
$breakpoint-xxs: 600px; // 375 - 1023 мобилка
$breakpoint-xs: 960px; // 375 - 1023 мобилка
$breakpoint-sm: 1279px; // 960 - 1279 планшетник
$breakpoint-md: 1439px; // 1280 - 1439 десктоп
$breakpoint-lg: 2500px; // 1920 - 2500 - огромный десктоп, контент 1440 максимум, остальное = уши